/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
  padding: 5px 20px;
  background-color: #2d3d5a;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 15px;

}